<h2>reactive-form works!</h2>

<form [formGroup]="form">
  <input type="text" placeholder="ID usuario" formControlName="id" />
  <input type="text" placeholder="Nombre" formControlName="name" />
  <div *ngFor="let country of countries">
    <input
      type="checkbox"
      formArrayName="selectedCountries"
      [value]="country.value"
      (change)="onCheckboxChange($event.target.checked)"
    />
    {{ country.name }}
  </div>
  <button
    (click)="onSubmit()"
    [attr.disabled]="form.invalid ? true : null"
  >
    Registrar usuario
  </button>
</form>

<pre>
  {{ form.value | json }}
</pre>
